{% assign skills = site.data.data.sidebar.skills %}
{% if skills %}
<div class="skills-container container-block">

  <h2 class="container-block-title">
    {{ skills.title }}
  </h2>

  <ul class="list-unstyled skills-list">
    {% for skill in skills.toolset %}
      <li>
        {{ skill.name }} 
        <div class="level-bar">
          <div class="level-bar-inner" data-level="{{ skill.level }}"></div>
        </div>
      </li>
    {% endfor %}
  </ul>

</div><!--//skills-container-->
{% endif %}
