{% assign skills = site.data.data.sidebar.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="container-block-title">
    {{ interests.title }}
  </h2>


  <div class="skillH">

    {% for skill in skills.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>


</section><!--//skills-section-->
{% endif %}
