{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>




<div class="col-2 text-right">
      <p class="mb-1 text-muted">{{ skill.percentage }}%</p>
    </div>







      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>






   <div class="progress mb-4 bg-themed" style="height: 8px;">
    <div class="progress-bar bg-{{ skill.color | default: "primary" }} wow animated slideInLeft"
      data-wow-delay="{{ forloop.index | divided_by: 20.0 }}"
      role="progressbar"
      style="width: {{ skill.percentage }}%;"
      aria-valuenow="{{ skill.percentage }}"
      aria-valuemin="0"
      aria-valuemax="100">
    </div>
  </div>




</section><!--//skills-section-->
{% endif %}
